GOPAY_BEARER_TOKEN=your_bearer_token_here
GOPAY_SESSION_ID=your_session_id_here
GOPAY_D1=your_d1_value_here
GOPAY_X_LOCATION=your_location_here
GOPAY_X_M1=your_x_m1_value_here
GOPAY_X_UNIQUEID=your_unique_id_here
GOPAY_X_PHONEMAKE=your_phone_make_here
GOPAY_X_PHONEMODEL=your_phone_model_here
GOPAY_X_DEVICEOS=Android, 15
GOPAY_X_DEVICETOKEN=your_device_token_here
GOPAY_X_SELECTED_OUTLET=your_outlet_id_here
GOPAY_X_TIMEZONE=GMT+08:00
GOPAY_X_USER_LOCALE=id_ID
GOPAY_X_E1=your_e1_value_here
GOPAY_X_E2=your_e2_value_here

# GoTo Accounts (accounts.goto-products.com) - optional, for automatic token refresh
GOTO_CLIENT_ID=your_goto_client_id_here
GOTO_REFRESH_TOKEN=your_goto_refresh_token_here
